header {
    text-align: center;
    max-width:500px ;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color: bisque;
}

ul {
    list-style: none;
}

section {
    max-width: 500px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
 
