/*HEADER*/

header {
    background-color: white;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    padding: 6px 0;
}

header h1 span {
    color: #f0c803;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

/* BODY */

body {
    background-color: #fae789;
    font-family: 'Uchen', serif;
}

/* SECTION */

section {
    background-color: white;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

section h2 {
    background-color: #f0c803;
    text-align: center;
}

section h3 {
    margin-block: 0;
}


/* LISTAS COMIDAS */


ul.food {
    list-style: none;
    padding: 7px;
}


ul.food li {
    margin-bottom: 16px;
    display: flex;
}

li.details {
    max-width: 100px;
}


/* LISTAS BEBIDAS */






